:root {
  --bg: #f9f9f9;
  --header-h: 6.7vh;
}

*{margin:0; padding:0; box-sizing:border-box}
html, body { height: 100%; font-size: 62.5%;}

body {
  font-family: "Roboto", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  background: var(--bg);
}

/* -------------------------- Header -------------------------- */
.petrobras-header{
  position:fixed; 
  width:100%; height: var(--header-h);
  z-index:10;                
  overflow:visible;
  background: var(--bg);
}

/* ---------------------- SVG (cabeçalho) --------------------- */
.header-bg{
  position:absolute; 
  inset:0;
  width:100%; height:100%;
  display:block;
  z-index:1;
}

/* ------------------- conteúdo do cabeçalho ------------------ */
.header-content{
  position:relative; 
  z-index:2;
  height:var(--header-h);
  display:flex; 
  align-items:center; 
  justify-content:space-between;
  padding:0 1.5rem;
}
.logo{ margin-left: 1rem; height: 47%; object-fit:contain }

/*-------------------------- menu oculto -----------------------*/
.dropdown {
  position: relative;
  display: inline-block;
}
/* ---------------------- ícone clicavel ---------------------- */
.profile-icon{
  position:relative; 
  right: 2.3rem; 
  width: 3rem; height: 3rem; 
  border-radius:50%;
  background:white;
  display:flex; 
  align-items:center; justify-content:center;
  box-shadow:0 0.1rem 0.2rem rgba(0, 0, 0, 0.18);
  transition:transform .12s, box-shadow .12s, background-color .2s;
}
.profile-icon:hover{ transform:translateY(0.3px); box-shadow:0 0.2rem 0.5rem rgba(0,0,0,.22) }
.profile-icon img{ width:1.3rem; height:1.3rem; display:block }

.profile-menu {
  position: absolute;
  top: calc(100% + 0.5vw);
  right: 2.3rem;
  background-color: #fff;
  border: 0.1rem solid #B3B3B3;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.7rem 0.2rem rgba(0, 0, 0, 0.2);
  width: 350%;
  padding: 0.7rem 0.5rem;
  display: none;
}
.adm{ width: 450%;}

.profile-name {
  font-size: 1.4rem;
  padding: 0.7rem 0.7rem;
  margin: 0 0 0.5rem 0;
  border-bottom: 0.1rem solid #B3B3B3;
}

.profile-btn {
  width: 95%; height: 3.9vh;
  background-color: #f0f0e0; 
  border: none;
  margin: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  transition: background-color 0.2s ease;
}
.profile-btn:hover { background-color: #e4e4ce;}

.profile-btn .icon { display: flex; align-items: center; gap: 0.8rem;}
.profile-btn img { margin-left: 0.8rem; width: 13%;}

/* Mostra o menu quando a classe .show é aplicada */
.profile-menu.show { display: block;}


/*  ------------------------ banner --------------------------- */
.hero {
  position: relative;
  width: 100%; height: 46%;
  overflow: hidden;
  padding-top: var(--header-h);
  z-index: 5;
}

.hero-img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* ------------------------- relógio -------------------------- */
.overlay {
  position: absolute;
  inset: 0;
}

.clock {
  margin-top: 10%;
  color: #fff;
  text-align: left;
  margin-left: calc(100% - 25%);
}

.time { font-size: 4.5rem;}
#dateStr { font-size: 2.2rem;}

/* ----------------------- plataformas ----------------------- */
.plataformas {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 3rem;
  margin-top: -3.5rem;
  z-index: 10;
}

.plat {
  width: 12%;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  background: #ffffff;
  box-shadow: 0.02rem 0.4rem 0.3rem #8585856e;
  cursor: pointer;
}

.plat .ico {
  width: 60%;
  margin: 1rem;
}
.plat-name{
  display: flex;
  font-size: 1.7rem;
  align-items: end;
  justify-content: end;
  padding: 0.5rem 0.8rem;
}

.plat.active {
  transform: translateY(30%);
  transition: transform 0.2s ease;
}

/* ----------------------- grid principal --------------------- */
.grid {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 5rem;
  padding: 0.5rem;
  margin: 0 2.7rem;
}

.titulo { padding: 0 1.5rem;}

.titulo p {
  font-size: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.15rem solid #f4c542;
  margin-bottom: 2rem;
  background-color: var(--bg);
  max-width: 28ch;
}
.card{ z-index: 10;}

.card-body {  padding: 0 1.5rem;}

.grafico {
  border: 0.1rem solid #357C2E;
  border-radius: 0.25rem;
  background: #ffffff;
  box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.185);
  height: 100%;
}

#perfChart {
  width: 100%;
  height: 35vh;
}

/* -------------------------- ocorrências ----------------------*/
.ocorrencias{
  overflow-y: auto;
  position: relative;
  height: 13.3vh;
  font-size: 1.4rem;
  display: grid;
  place-items: center;
  color: #98a1ad;
  border: 0.1rem solid #357C2E;
  border-radius: 0.25rem;
  background: #ffffff;
  box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.185);
}

.buscar{
  margin-top: 3.8rem;
  padding: 0.8rem 4rem;
  border: 0.15rem solid #357C2E;
  border-radius: 3rem;
  outline: none;
  width: 100%;
  font-size: 1.4rem;
  background-image: url('/frontend/assets/img/search.png');
  background-repeat: no-repeat;
  background-position: 1.2rem center;
  background-size: 1.3rem;
}
.ex {
  margin-top: 1rem;
  color: #B3B3B3;
  font-size: 1.25rem;
}

/* ---------------- ocorrências registradas  -----------------*/
.registro{
  display: grid;
  gap: 1rem;
  width: 92%;
  margin: 1rem 2rem 1rem 0.1rem;
}
.occ-registradas{
  border: 0.1rem solid #23222A;
  padding: 0.1rem 1.5rem;
}

/* ------------------- resultado da busca  -------------------*/
.relatorio-busca{
  position: relative;
  display: flex;
  background-color: var(--bg);
  border: 0.1rem solid #000;
  border-radius: 0.2rem;
  margin-top: 2.5rem;
}
.dec{
  width: 1.4%;
  background: #FDB823;
}
.relatorio-resultado {
  padding: 1rem 1.8rem;
  cursor: pointer;
}
.link{
  text-decoration: none;  
  color: #23222A;
  font-size: 1.5rem;
}
.relatorio-resultado img{
  position: absolute;
  right: 1.4rem;
  height: 1.4rem;
  margin: 0.2rem;
}
/* ---------------------- botão gerente  ---------------------*/
.btnGer{
  position: absolute;
  bottom: 0; right: 0; margin: 0.8rem 1rem;
  border:none; cursor:pointer;
  background: #357C2E; color: #ffffff;
  border-radius: 100rem;
  font-size: 1.4rem; padding: 0.2rem 4rem;
  transition: transform .04s ease;
}
.btnGer{
  font-size: 1.54rem; padding: 0.3rem 3.2rem;
}
.btnGer:hover{ background: rgb(33, 95, 38); }
.btnGer:active{ transform:translateY(0.8px) }

/* -------------------------- decoração ----------------------*/
.linhas-fundo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 17%; 
  height: 66%;
  pointer-events: none; /* evita clicar no SVG */
  opacity: 0.35;
  z-index: 1;
}
.linhas-fundo svg { width: 100%;  height: 100%;}

.linhas-fundo-esquerda {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 16%;
  height: 63%;
  pointer-events: none;
  opacity: 0.35;
  z-index: 1;
  transform: scaleX(-1);
  transform-origin: center;
}



/* ------------------------- responsivo ---------------------- */
@media (max-width: 1020px) {
  .grid {
    grid-template-columns: 1fr;
  }
}